.botao {
    margin-top: 10px;
    border: none;
    width: 100px;
    height: 30px;

    background-color: cornflowerblue;
    color: white;
    border-radius: 5px;
}

.botao:hover{
    background-color: rgb(47, 106, 216);
    transition: 400ms;
}